*{
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans',sans-serif;
    box-sizing: border-box;
    background-color: black;
}
.hero{
    margin-bottom: 50px;
}
nav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #f9004d;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: black;

}
span {
    color : #f9004d;
}
.About {

color: aliceblue;

}
ul{
    list-style-type: circle;
}